{% extends "user.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>





                    {{ render_field(form.fName) }}
                    {{ render_field(form.lName) }}
                    {{ render_field(form.jobTitle) }}
                    {{ render_field(form.prefix) }}
                    {{ render_field(form.suffix) }}
                    {{ render_field(form.phone) }}
                    {{ render_field(form.phoneExtension) }}
                    {{ render_field(form.email) }}

                    <input type="submit" value="Save"/>



        </form>
{% endblock %}
