{% extends "user.html" %}
{% block content %}
 {% from "_formhelpers.html" import render_field %}
 <script src="{{url_for('static', filename='update_profile.js')}}">var csrftoken = "{{ csrf_token() }}"</script>
    <h2 class="profileTitles">Most Recent Professional Society</h2>
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {% if profile_exists %}
            <fieldset id="fieldset1" disabled="disabled">
                {{ render_field(form.start_date) }}
                {{ render_field(form.end_date) }}
                {{ render_field(form.name) }}
                {{ render_field(form.membership_type) }}
                {{ render_field(form.status) }}
            </fieldset>
            <input id="submit_button" style="display: none;" type="submit" value="Update"/>
            {% else %}
                {{ render_field(form.start_date) }}
                {{ render_field(form.end_date) }}
                {{ render_field(form.name) }}
                {{ render_field(form.membership_type) }}
                {{ render_field(form.status) }}
            <input id="submit_button"  type="submit" value="Edit profile"/>
            {% endif %}
        </form>
            {% if profile_exists %}
                <button  id="edit_profile_button" type="button" onclick="updateProfile()">Edit Profile</button>
            {% else %}
                <button style="display: none;" type="button">Edit Profile</button>
            {% endif %}

{% endblock %}