{% extends "user.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<script src="{{url_for('static', filename='update_profile.js')}}">var csrftoken = "{{ csrf_token() }}"</script>
    <h2 class="profileTitles">Most Recent Publication</h2>
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {% block content2 %}
            {% if profile_exists %}
            <fieldset id="fieldset1" disabled="disabled">
                {{ render_field(form.year) }}
                {{ render_field(form.title) }}
                {{ render_field(form.type) }}
                {{ render_field(form.journal_conference_name) }}
                {{ render_field(form.published) }}
                {{ render_field(form.in_press) }}
                {{ render_field(form.doi) }}
            </fieldset>
            <input id="submit_button" style="display: none;" type="submit" value="Update"/>
            {% else %}
                {{ render_field(form.year) }}
                {{ render_field(form.title) }}
                {{ render_field(form.type) }}
                {{ render_field(form.journal_conference_name) }}
                {{ render_field(form.published) }}
                {{ render_field(form.in_press) }}
                {{ render_field(form.doi) }}
                <input id="submit_button"  type="submit" value="Submit Education info"/>
            {% endif %}
            {% endblock %}
        </form>

        </form>
        {% block content3 %}
            {% if profile_exists %}
                <button  id="edit_profile_button" type="button" onclick="updateProfile()">Edit Profile</button>
                <br>
            {% else %}
                <button style="display: none;" type="button">Edit Profile</button>
                <br>
            {% endif %}
        {% endblock %}



    {% for publication in publications %}
        <button class="accordion">{{   publication.title  }}</button>

        <div class="panel">
            <p><strong>Publication Year : </strong>{{ publication.year }}</p>
            <p><strong>Publication Type : </strong>{{ publication.type }}</p>
                <p>
                    <strong>Doi :</strong>
                    <a href="http://www.doi.org/{{ publication.doi }}" target="_blank">
                        {{ publication.doi }}
                    </a>
                </p>
        </div>
    {% endfor %}




    <script>
        var csrftoken = "{{ csrf_token() }}"
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
    </script>

{% endblock %}