{% extends "base.html" %}

{% block content %}
    <h3 id="aboutHeading">About SFI</h3>
    <div class="aboutContent">
        <h4>Helping Ireland recruit research groups</h4>
        <p>
            SFI invests in academic researchers and research teams who are most likely to generatenew knowledge, leading edge technologies and competitive enterprises in the fields of science, technology,
            engineering and maths (STEM). The Foundation also promotes and supports the study of, education in, and engagement with STEM and promotes an awareness and understanding of the value of STEM to society
            and, in particular, to the growth of the economy.
        </p>
        <p>
            SFI makes grants based upon the merit review of distinguished scientists. SFI also advances co-operative efforts among education, government, and industry that support its fields of emphasis and promotes
            Ireland’s ensuing achievements around the world.
        </p>
    </div>

    <div class="aboutContent">
        <h4>SFI Vision</h4>
        <p>
            Ireland will be a global leader in scientific and engineering research, discovery and innovation.
        </p>
    </div>

    <div class="aboutContent">
        <h4>SFI Mission</h4>
        <p>
            Science Foundation Ireland will progress Ireland’s society and economy by supporting the best scientific and engineering research while building an awareness of the role, impact and opportunities science creates.
        </p>
    </div>

    <div class="aboutContent">
        <h4>SFI Core Values</h4>
        <ul>
            <li>Excellence
                <p class="quotes">“Delivering what we promise and exceeding expectations”</p>
                <p>SFI is an exemplar funding agency which funds research of the highest international quality and of strategic value to Ireland. SFI staff are committed to achieving excellence within our organisation.</p>
            </li>
            <li>Passionate
                <p class="quotes">“We genuinely care about every aspect of what we do and are totally committed to the individual, the organisation and our community.”</p>
                <p>SFI staff are a passionate workforce, aiming high, always achieving and exceeding our goals.</p>
            </li>
            <li>Progressive
                <p class="quotes">“We are an innovative, dynamic and visionary funding agency.”</p>
                <p>SFI fosters an environment that stimulates and rewards original thinking. We are continually evolving to support world class scientific research in Ireland.</p>
            </li>
            <li>Integrity
                <p class="quotes">“We do the right thing”</p>
                <p>SFI will ensure high standards in all aspects of its work, carried out with consistency, honesty, impartiality and responsibility. We ensure respect for ethical standards and stay accountable to our stakeholders</p>
            </li>
            <li>Collaborative
                <p class="quotes">“Working together for science in society; Working together for each other”.</p>
                <p>We are approachable and supportive of each other and the community in which we work. We are consultative and responsive and are committed to collective responsibility in delivering our work.</p>
            </li>
            <li>Respect
                <p class="quotes">“We value everybody within and outside the organisation for their time, views and contribution to achieving SFI strategy”.</p>
                <p>SFI fosters an open and inclusive environment, where everyone is respected and treated with dignity.</p>
            </li>
        </ul>
    </div>

    <aside>
        <div class="feeds">
            <div class="row">
                <div class="col-sm-4">
                   <a class="twitter-timeline" data-height="500" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/scienceirel?ref_src=twsrc%5Etfw">Tweets by scienceirel</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="col-sm-4">
                    <iframe width="745" height="500" src="https://www.youtube.com/embed/Jh15YEtJY0Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-sm-4">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
        </div>
    </aside>
{% endblock %}
