{% extends "base.html" %}

{% block content %}

</main>
<div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="">Home</a>
    <a href="">Services</a>
    <a href="">Clients</a>
    <a href="">Contact</a>
</div>
<button class="openbtn" onclick="openNav()">☰ Admin Menu</button>
<main>

<div style="clear:both"></div>
<div class="row3">
    <div class="dc-morph-btns">
        <ul>
            <li><a id="icon-APA" href="{{ url_for('add_proposals') }}"></a><span>Add Call for Proposal</span></li>
            <li><a id="icon-profile" href="{{ url_for('register') }}"></a><span>Register a New User</span></li>
            <li><a id="icon-delete-profile" href="{{ url_for('delete_user') }}"></a><span>Delete a User</span></li>
        </ul>
    </div>
</div>
<div style="clear:both;"></div>
        <!--<div class="container">
            {% for comment in comments %}
                <div class="row" style="margin-bottom: 1ex">
                    <div>
                        {{ comment.content }}
                    </div>
                    <div>
                        <small>
                            Posted
                            {% if comment.posted %}
                                {{ comment.posted.strftime("%A, %d %B %Y at %H:%M") }}
                            {% else %}
                                at an unknown time
                            {% endif %}
                            by
                            {% if comment.commenter %}
                                {{ comment.commenter.username }}
                            {% else %}
                                anonymous
                            {% endif %}
                        </small>
                    </div>
                </div>
            {% endfor %}

            {% if current_user.is_authenticated %}
                <div class="row">
                    <form action="." method="POST">
                        <textarea name="contents" placeholder="Enter a comment" class="form-control"></textarea>
                        <input type="submit" class="btn btn-success" value="Post comment">
                    </form>
                </div>
            {% endif %}
        </div><!-- /.container-->

{% endblock %}