{% extends "base.html" %}

{% block content %}
<div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
    <a href="{{ url_for('services') }}">Services</a>
    <a href="{{ url_for('clients') }}">Clients</a>
    <a href="{{ url_for('contact') }}">Contact</a>
</div>
<button class="openbtn" onclick="openNav()">☰ Grants Menu</button>
<main>
    <p>{{zmin}}</p>
<div style="clear:both"></div>
<div class="row3">
    <div class="dc-morph-btns">
        <ul>
            <li><a id="icon-profile" href="{{ url_for('user', username=current_user.username) }}"></a><span>Profile</span></li>
            <li><a id="icon-profile" href="{{ url_for('publications')}}"></a><span>My Publications</span></li>
            <li><a id="icon-APA" href="{{ url_for('pending_applications') }}"></a><span>Applications Pending Action</span></li>
            <li><a id="icon-SRPA"href="{{ url_for('pending_scientific_reports') }}"></a><span>Scientific Reports Pending Action</span></li>
            <li><a id="icon-FRPA" href="{{ url_for('pending_financial_reports') }}"></a><span>Financial Reports Pending Action</span></li>
            <li><a id="icon-BPA" href="{{ url_for('pending_budgets') }}"></a><span>Budgets Pending Action</span></li>
            <li><a id="icon-PAARPA" href="{{ url_for('pending_pre_award_applicant_response') }}"></a><span>Pre Award Applicant Response Pending Action</span></li>
            <li><a id="icon-OIPA" href="{{ url_for('pending_other_items') }}"></a><span>Other Items Pending Action</span></li>
        </ul>
    </div>
</div>
<div style="clear:both;"></div>
        <!--<div class="container">
            {% for comment in comments %}
                <div class="row" style="margin-bottom: 1ex">
                    <div>
                        {{ comment.content }}
                    </div>
                    <div>
                        <small>
                            Posted
                            {% if comment.posted %}
                                {{ comment.posted.strftime("%A, %d %B %Y at %H:%M") }}
                            {% else %}
                                at an unknown time
                            {% endif %}
                            by
                            {% if comment.commenter %}
                                {{ comment.commenter.username }}
                            {% else %}
                                anonymous
                            {% endif %}
                        </small>
                    </div>
                </div>
            {% endfor %}

            {% if current_user.is_authenticated %}
                <div class="row">
                    <form action="." method="POST">
                        <textarea name="contents" placeholder="Enter a comment" class="form-control"></textarea>
                        <input type="submit" class="btn btn-success" value="Post comment">
                    </form>
                </div>
            {% endif %}
        </div><!-- /.container-->

{% endblock %}