{% extends "base.html" %}

{% block content %}


<div style="clear:both"></div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="row3">
    <div class="Welcome">
        <h2> Welcome {{ user.username }} </h2>
        <h2>You are using a reviewer account</h2>
    </div>
    <div class="reviewermorph-btn">
        <div class="dc-morph-btns">
            <ul>
                <li><a id="icon-APA" href="{{ url_for('review_applications') }}"></a><span>New proposals for review</span></li>
            </ul>
        </div>
    </div>
</div>
<div style="clear:both;"></div>

{% endblock %}