<!DOCTYPE>
<html>
    <head>

    </head>
    <body>
        <style>
        .droparea {
            width: 200px;
            height: 200px;
            border-style: solid;
            border-width: 3px;
            border-color: red;
            float: left;
            line-height: 200px;
            text-align: center;
        }
        </style>
        <script>
            var dragHandler = function(evt){
                evt.preventDefault();
            };

            var dropHandler = function(evt){
                evt.preventDefault();
                var files = evt.originalEvent.dataTransfer.files;

                var formData = new FormData();
                formData.append("file2upload", files[0]);

                var req = {
                    url: "/sendfile",
                    method: "post",
                    processData: false,
                    contentType: false,
                    data: formData
                };

                var promise = $.ajax(req);
            };

            var dropHandlerSet = {
                dragover: dragHandler,
                drop: dropHandler
            };

            $(".droparea").on(dropHandlerSet);
        </script>
<div class="container">
    <div class="droparea">Drop Here</div>
    <div class="tablearea" id="tablearea"></div>
</div>
    </body>
</html>