{% extends "base.html" %}

{% block content %}

<h3 id="researchHeading">No. of Grant Applications to be sent for approval: {{application_count}}</h3>
<hr>
        {% for grant in grants %}
            <button class="accordion">{{   grant.proposal_title  }}</button>
            <div class="panel">
                <p><strong>Grant Application ID: </strong>{{ grant.grant_application_id}}</p>
                <p><strong>User ID: </strong>{{ grant.user_id }}</p>
                <p><strong>Proposal Title: </strong>{{ grant.proposal_title }}</p>
                <p><strong>Award Duration: </strong>{{ grant.award_duration }}</p>
                <p><strong>National Research Priority: </strong>{{ grant.national_research_priority }}</p>
                <p><strong>SFI Legal Remit Justification: </strong>{{ grant.sfi_legal_remit_justification }}</p>
                <p><strong>Ethical Issues: </strong>{{ grant.ethical_issues }}</p>
                <p><strong>Applicants Country: </strong>{{ grant.applicants_country }}</p>
                <p><strong>Scientific Abstract: </strong>{{ grant.scientific_abstract }}</p>
                <p><strong>Lay Abstract: </strong>{{ grant.lay_abstract }}</p>
                {% if grant.programme_documents != None %}
                <p><strong>Programme Documents: </strong> <a href={{url_for('static', filename=grant.programme_documents) }}> Submitted PDF</a> </p>

                {% endif %}
            </div>
            {% if (current_user.is_authenticated) %}
                <form action="" method='POST' novalidate>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <button type="submit" name="application_id" type="button" value={{grant.grant_application_id}}><span class="fa fa-edit">Send For Review</button>
                    <!--<input type="submit" value="Click Me" name="sample"/> !-->
                </form>
            {% endif %}
        {% endfor %}

        <script>
            var acc = document.getElementsByClassName("accordion");
            var i;
            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.maxHeight) {
                        panel.style.maxHeight = null;
                    } else {
                        panel.style.maxHeight = panel.scrollHeight + "px";
                    }
                });
            }
        </script>


{% endblock %}