{% extends "base.html" %}

{% block content %}
</main>
<div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>
<button class="openbtn" onclick="openNav()">☰ Grants Menu</button>
<main>

    <h3 id="researchHeading">Research Page</h3>
        <button class="accordion">Education</button>
            <div class="panel">
            <div id ="box1">
                <p id="1">Lorem ipsum...</p><br>
                <button id="edit1" type="button" onclick="edit('box1', '1', 'edit1', 'save1')"><span class="fa fa-edit"> Edit</button>
                <button id="save1" type="button" onclick="save('box1', '1', 'edit1', 'save1')" disabled><span class="fa fa-save"> Save</button>
            </div>
            </div>

        <button class="accordion">Employment</button>
            <div class="panel">
            <div id ="box2">
                <p id="2">Lorem ipsum...</p><br>
                <button id="edit2" type="button" onclick="edit('box2', '2', 'edit2', 'save2')"><span class="fa fa-edit"> Edit</button>
                <button id="save2" type="button" onclick="save('box2', '2', 'edit2', 'save2')" disabled><span class="fa fa-save"> Save</button>
            </div>
            </div>

        <button class="accordion">Professional Societies</button>
            <div class="panel">
            <div id ="box3">
                <p id="3">Lorem ipsum...</p><br>
                <button id="edit3" type="button" onclick="edit('box3', '3', 'edit3', 'save3')"><span class="fa fa-edit"> Edit</button>
                <button id="save3" type="button" onclick="save('box3', '3', 'edit3', 'save3')" disabled><span class="fa fa-save"> Save</button>
            </div>
            </div>

        <button class="accordion">Significant Distinctions/Awards</button>
            <div class="panel">
            <div id ="box4">
                <p id="4">Lorem ipsum...</p><br>
                <button id="edit4" type="button" onclick="edit('box4', '4', 'edit4', 'save4')"><span class="fa fa-edit"> Edit</button>
                <button id="save4" type="button" onclick="save('box4', '4', 'edit4', 'save4')" disabled><span class="fa fa-save"> Save</button>
            </div>
            </div>

        <button class="accordion">Funding Diversification</button>
            <div class="panel">
            <div id ="box5">
                <p id="5">Lorem ipsum...</p><br>
                <button id="edit5" type="button" onclick="edit('box5', '5', 'edit5', 'save5')"><span class="fa fa-edit"> Edit</button>
                <button id="save5" type="button" onclick="save('box5', '5', 'edit5', 'save5')" disabled><span class="fa fa-save"> Save</button>
            </div>
            </div>

        <button class="accordion">Team Members</button>
            <div class="panel">
            <div id ="box6">
                <p id="6">Lorem ipsum...</p><br>
                <button id="edit6" type="button" onclick="edit('box6', '6', 'edit6', 'save6')"><span class="fa fa-edit"> Edit</button>
                <button id="save6" type="button" onclick="save('box6', '6', 'edit6', 'save6')" disabled><span class="fa fa-save"> Save</button>
            </div>
            </div>

        <button class="accordion">Impacts</button>
            <div class="panel">
            <div id ="box7">
                <p id="7">Lorem ipsum...</p><br>
                <button id="edit7" type="button" onclick="edit('box7', '7', 'edit7', 'save7')"><span class="fa fa-edit"> Edit</button>
                <button id="save7" type="button" onclick="save('box7', '7', 'edit7', 'save7')" disabled><span class="fa fa-save"> Save</button>
            </div>
            </div>

        <button class="accordion">Innovation & Commercialisation Activities</button>
            <div class="panel">
            <div id ="box8">
                <p id="8">Lorem ipsum...</p><br>
                <button id="edit8" type="button" onclick="edit('box8', '8', 'edit8', 'save8')"><span class="fa fa-edit"> Edit</button>
                <button id="save8" type="button" onclick="save('box8', '8', 'edit8', 'save8')" disabled><span class="fa fa-save"> Save</button>
            </div>
            </div>

        <button class="accordion">Publications & Proceedings</button>
            <div class="panel">
            <div id ="box9">
                <p id="9">Lorem ipsum...</p>
                <button id="edit9" type="button" onclick="edit('box9', '9', 'edit9', 'save9')"><span class="fa fa-edit"> Edit</button>
                <button id="save9" type="button" onclick="save('box9', '9', 'edit9', 'save9')" disabled><span class="fa fa-save"> Save</button>
            </div>
            </div>

        <button class="accordion">Presentations</button>
            <div class="panel">
            <div id ="box10">
                <p id="10">Lorem ipsum...</p>
                <button id="edit10" type="button" onclick="edit('box10', '10', 'edit10', 'save10')"><span class="fa fa-edit"> Edit</button>
                <button id="save10" type="button" onclick="save('box10', '10', 'edit10', 'save10')" disabled><span class="fa fa-save"> Save</button>
            </div>
            </div>

        <button class="accordion">Academic Collaboration</button>
            <div class="panel">
            <div id ="box11">
                <p id="11">Lorem ipsum...</p>
                <button id="edit11" type="button" onclick="edit('box11', '11', 'edit11', 'save11')"><span class="fa fa-edit"> Edit</button>
                <button id="save11" type="button" onclick="save('box11', '11', 'edit11', 'save11')" disabled><span class="fa fa-save"> Save</button>
            </div>
            </div>

        <button class="accordion">Non Academic Collaborations</button>
            <div class="panel">
            <div id ="box12">
                <p id="12">Lorem ipsum...</p>
                <button id="edit12" type="button" onclick="edit('box12', '12', 'edit12', 'save12')"><span class="fa fa-edit"> Edit</button>
                <button id="save12" type="button" onclick="save('box12', '12', 'edit12', 'save12')" disabled><span class="fa fa-save"> Save</button>
            </div>
            </div>

        <button class="accordion">Conferences / Workshops / Seminars Organised</button>
            <div class="panel">
            <div id ="box13">
                <p id="13">Lorem ipsum...</p>
                <button id="edit13" type="button" onclick="edit('box13', '13', 'edit13', 'save13')"><span class="fa fa-edit"> Edit</button>
                <button id="save13" type="button" onclick="save('box13', '13', 'edit13', 'save13')" disabled><span class="fa fa-save"> Save</button>
            </div>
            </div>

        <button class="accordion">Communications Overview</button>
            <div class="panel">"save1"
            <div id ="box14">
                <p id="14">Lorem ipsum...</p>
                <button id="edit14" type="button" onclick="edit('box14', '14', 'edit14', 'save14')"><span class="fa fa-edit"> Edit</button>
                <button id="save14" type="button" onclick="save('box14', '14', 'edit14', 'save14')" disabled><span class="fa fa-save"> Save</button>
            </div>
            </div>

        <button class="accordion">SFI Funding Ratio</button>
            <div class="panel">
            <div id ="box15">
                <p id="15">Lorem ipsum...</p>
                <button id="edit15" type="button" onclick="edit('box15', '15', 'edit15', 'save15')"><span class="fa fa-edit"> Edit</button>
                <button id="save15" type="button" onclick="save('box15', '15', 'edit15', 'save15')" disabled><span class="fa fa-save"> Save</button>
            </div>
            </div>

        <button class="accordion">Education & Public Engagement (EPE)</button>
            <div class="panel">
            <div id ="box16">
                <p id="16">Lorem ipsum...</p>
                <button id="edit16" type="button" onclick="edit('box16', '16', 'edit16', 'save16')"><span class="fa fa-edit"> Edit</button>
                <button id="save16" type="button" onclick="save('box16', '16', 'edit16', 'save16')" disabled><span class="fa fa-save"> Save</button>
            </div>
            </div>

        <button class="accordion">Technical Reports</button>
            <div class="panel">
            <div id ="box17">
                <p id="17">Lorem ipsum...</p>
                <button id="edit17" type="button" onclick="edit('box17', '17', 'edit17', 'save17')"><span class="fa fa-edit"> Edit</button>
                <button id="save17" type="button" onclick="save('box17', '17', 'edit17', 'save17')" disabled><span class="fa fa-save"> Save</button>
            </div>
            </div>

        <script>
            var acc = document.getElementsByClassName("accordion");
            var i;
            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.maxHeight) {
                        panel.style.maxHeight = null;
                    } else {
                        panel.style.maxHeight = panel.scrollHeight + "px";
                    }
                });
            }

            function edit(box, num, editButton, saveButton) {
                var input = document.createElement("INPUT");
                input.setAttribute("id", num);
                input.setAttribute("type", "text");
                input.setAttribute("value", "");
                var boxId= document.getElementById(box);
                var p = document.getElementById(num);
                boxId.replaceChild(input, p);
                document.getElementById(editButton).disabled = true;
                document.getElementById(saveButton).disabled = false;
            }

            function save(box, num, editButton, saveButton) {
                console.log("hi");
                var p = document.createElement("p");
                p.setAttribute("id", num);
                var text = document.createTextNode("Lorem ipsum... (edited)");
                p.appendChild(text);
                var boxId= document.getElementById(box);
                var input = document.getElementById(num);
                boxId.replaceChild(p, input);
                document.getElementById(editButton).disabled = false;
                document.getElementById(saveButton).disabled = true;
            }
        </script>


    <!--

    <h3 id="researchHeading">Edit {{ user.username }}&#39;s Profile </h3>
    <hr>

        <button class="accordion">Education</button>

            <div class="panel">

                <input type="text" value="">

            </div>



        <button class="accordion">Employment</button>

            <div class="panel">

                <input type="text" value="">

            </div>



        <button class="accordion">Professional Societies</button>

            <div class="panel">

                <input type="text" value="">

            </div>


        <button class="accordion">Significant Distinctions/Awards</button>

            <div class="panel">

                <input type="text" value="">

            </div>


        <button class="accordion">Funding Diversification</button>

            <div class="panel">

                <input type="text" value="">

            </div>


        <button class="accordion">Team Members</button>

            <div class="panel">

                <input type="text" value="">

            </div>


        <button class="accordion">Impacts</button>

            <div class="panel">

                <input type="text" value="">

            </div>


        <button class="accordion">Innovation &amp; Commercialisation Activities</button>

            <div class="panel">

                <input type="text" value="">

            </div>


        <button class="accordion">Publications &amp; Proceedings</button>

            <div class="panel">

                <input type="text" value="">

            </div>


        <button class="accordion">Presentations</button>

            <div class="panel">

                <input type="text" value="">

            </div>


        <button class="accordion">Academic Collaboration</button>

            <div class="panel">

                <input type="text" value="">

            </div>


        <button class="accordion">Non Academic Collaborations</button>

            <div class="panel">

                <input type="text" value="">

            </div>


        <button class="accordion">Conferences / Workshops / Seminars Organised</button>

            <div class="panel">

                <input type="text" value="">

            </div>


        <button class="accordion">Communications Overview</button>

            <div class="panel">

                <input type="text" value="">

            </div>


        <button class="accordion">SFI Funding Ratio</button>

            <div class="panel">

                <input type="text" value="">

            </div>


        <button class="accordion">Education &amp; Public Engagement (EPE)</button>

            <div class="panel">

                <input type="text" value="">

            </div>


        <button class="accordion">Technical Reports</button>

            <div class="panel">

                <input type="text" value="">

            </div>


        <button type="button"><span class="fa fa-save"> Save Changes</button>

        <a href="{{ url_for('user', username=current_user.username) }}"><button type="button"><span class="glyphicon glyphicon-remove"> Cancel</button></a>

<div style="height:140px;display:block;"></div>

        <script>

            var acc = document.getElementsByClassName("accordion");

            var i;



            for (i = 0; i < acc.length; i++) {

                acc[i].addEventListener("click", function() {

                    this.classList.toggle("active");

                    var panel = this.nextElementSibling;

                    if (panel.style.maxHeight) {

                        panel.style.maxHeight = null;

                    } else {

                        panel.style.maxHeight = panel.scrollHeight + "px";

                    }
                });

            }

        </script>
    -->
{% endblock %}